<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tv.ponpoko.alfredworkflow.start-paymo-timer</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6F713640-11E9-48DB-8352-454B40CB3D4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBC356F0-D424-4B6A-9512-82A8E6554D3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBC356F0-D424-4B6A-9512-82A8E6554D3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61A54B4F-2755-4B5C-87A5-772AE1578831</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DB00842B-BC42-43C5-83B4-51652EE5C824</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBE90F5A-F710-4C66-9A82-EE0400FA1F34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shuji OCHI</string>
	<key>description</key>
	<string>select  your all paymo task, start timer.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Start Paymo Timer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>2</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>~/.paymoapi.secret.json is missing
create it.</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>61A54B4F-2755-4B5C-87A5-772AE1578831</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pms</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python3 PaymoTasks.py --list</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F713640-11E9-48DB-8352-454B40CB3D4C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^error</string>
						<key>outputlabel</key>
						<string>set ~/.paymoapi.secret.json</string>
						<key>uid</key>
						<string>DB00842B-BC42-43C5-83B4-51652EE5C824</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CBC356F0-D424-4B6A-9512-82A8E6554D3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 PaymoTasks.py --start "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBE90F5A-F710-4C66-9A82-EE0400FA1F34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow displays all tasks in 'paymo' and starts a timer for the selected task.

At first,
You have to get API Key following URL:
https://app.paymoapp.com/#Paymo.module.myaccount/api-keys

and create JSON file and place your home directory named as '.paymoapi.secret.json'

```
{"secret" : "&lt;&lt;YOUR API KEY&gt;&gt;"}
```</string>
	<key>uidata</key>
	<dict>
		<key>61A54B4F-2755-4B5C-87A5-772AE1578831</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>6F713640-11E9-48DB-8352-454B40CB3D4C</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>BBE90F5A-F710-4C66-9A82-EE0400FA1F34</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>CBC356F0-D424-4B6A-9512-82A8E6554D3D</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
